.projects-section{
        display:flex;
        width:100%;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        padding: 0px 80px;
        margin-top:100px;
}
.projects{
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
    gap: 20px;
    margin-top: 50px;
}
.project-image{
    width:200px;
    height:200px;
    border-radius: 10px;
}
.project-item{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap: 10px;
}

@media screen and (max-width:456px) {
    .projects-section{
        padding:0px 10px;
    }
    .project-image{
        width:150px;
        height: 150px;
    }
}